.app {
  text-align: center;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*
 BT: this is a bit lazy, but there's only one form in the whole app
*/
form {
  width: 20rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  font-size: 1rem;
  padding: 1rem;
  margin-bottom: 0.5rem;

  border: 1px solid #dddfe2;
  border-radius: 0.25rem;
}

.submit {
  font-size: 1rem;
  background-color: #2cb354;
  color: white;

  border: none;
}

.info-item {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.api-data {
  color: red;
}

.logout {
  font-size: 1rem;
  background-color: #d5d5d5;
  padding: 1rem;
  color: black;

  border-radius: 0.25rem;
  border: none;
}

/* 
  BT: ripple is significantly more mobile friendly than hover effects
  https://uxmovement.com/mobile/the-hover-effect-for-mobile-buttons/
*/
.ripple {
  background-position: center;
  transition: background 0.8s;
}

.ripple:hover {
  background: #2cb354 radial-gradient(circle, transparent 1%, #2cb354 1%)
    center/15000%;
}

.ripple:active {
  background-color: #31c776;
  background-size: 100%;
  transition: background 0s;
}

/*
  would normally dedupe with a styling lib, or just share the styles better
*/
.ripple-neutral {
  background-position: center;
  transition: background 0.8s;
}

.ripple-neutral:hover {
  background: #d5d5d5 radial-gradient(circle, transparent 1%, #d5d5d5 1%)
    center/15000%;
}

.ripple-neutral:active {
  background-color: #e2e2e2;
  background-size: 100%;
  transition: background 0s;
}

.notification {
  position: fixed;
  width: 100vw;
  background: #ffc629;
  height: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;
}
